@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --blue-700: rgba(29, 78, 216, 1);
  --blue-900: rgba(30, 58, 138, 1);
  --from-lime-50-to-zinc-50: rgba(250, 250, 250, 0.5);
  --green-700: rgba(21, 128, 61, 1);
  --orange-500: rgba(234, 88, 12, 1);
  --red-600: rgba(220, 38, 38, 1);
  --stone-500: rgba(120, 113, 108, 1);
  --stone-900: rgba(28, 25, 23, 1);
  --variable-collection-slate-100: rgba(241, 245, 249, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-zinc-50: rgba(250, 250, 250, 1);
}
