.exercicio-01{
    padding: 16px;
    margin: 4px;
    background-color:#3730a3;
    color: #f1f5f9;
    border-radius: 8px;
    line-height: 120%;
    width: 35%;
}
dl{
    padding: 8px 12px;
    background-color:#706da3;
    border-radius: 4px;
}
dt{
    font-weight: bold;
}

