body{
    background: #0a8a74;
    display: flex;
    justify-content: center;
}
#titulo{
    text-align: center;
}

#subTitulo{
    text-align: center;
}

#caixaBotao{
    text-align:center ;
}

input, textarea, fieldset{
    border-radius: 5px;

}
