.exemplo{
    background-color: rgb(30, 59, 209);
    color: #FFF;
    font-family: Inter;
    padding-left: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    align-items: center;

}